


<!DOCTYPE html>
<html>
  <head>
    <title>InstaGurizada</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Le styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style type="text/css">
.img-candidato{
 max-width: 100px;
}

</style>
</head>

<body>
<body>
    <div id="background">
    </div>

     <% if(candidatos) {
        for(i in candidatos){ %>
          <p ><%= candidatos[i].nome %></p>
      <%}}%>

<table class="table">
  <thead>
    <tr><th>Candidato</th><th>Número</th><th>Votos</th>
  </thead>
  <tbody>
    <% if(candidatos) { 
        for(i in candidatos){ %>
          <td><img src="<%= candidatos[i].imagem %>" class="img-circle img-candidato" alt="<%= candidatos[i].nome %>"></td>
          <td><%= candidatos[i].numero %></td>
          <td><%= candidatos[i].votos %></td>
      <%}}%>
  </tbody>
</table>

<!-- Scripts -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/socket.io.min.js"></script>
</body>


<!-- Latest compiled and minified JavaScript -->





<script type="text/javascript"> 

       $.get('/photos', function(data){
          var photos = $.map(data, function(item){
              return {
                src: item.image,
                fade: 1500
              }
          });
          $.vegas('slideshow',{backgrounds: photos});

       });

      var socket = io.connect('/');
      socket.on('photo', function(data){

          console.log(data);

          var prevStep = $.vegas('get', 'step');

          $.vegas('slideshow',{backgrounds: [{src: data.url, fade: 1500}]});
          setTimeout(function(){
               $.get('/photos', function(data){
                  var photos = $.map(data, function(item){
                      return {
                        src: item.image,
                        fade: 1500
                      }
                  });
                  $.vegas('slideshow',{backgrounds: photos});
                  $.vegas('jump', prevStep);
               });
          }, 10000);

      });
    </script>

  </body>
</html>


